html{
  background-image: url("hytte.jpg");
  /*Ikke nødvendig med alt-info om bildet, da det kun fungerer som bakgrunn*/
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  font-family: 'Pacifico', cursive;
  /*Bakgrunnsbilde satt som fixed og 100%, slik at det dekker hele siden*/
}

#Velkommen{
  text-align: center;
  padding: 5%;
  margin: 0 auto;
  position: relative;
  /*Forside-skriften satt på midten for å tydelig fremvises til bruker*/
}

#Velkommen img{
  height: 19%;
  width: 19%;
  opacity: 0;
  /*Opacity satt til 0, slik at elementet fremviser etter animasjonen*/
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  /*Animasjon er lagt inn skil at elementene på siden gradvis fremvises når den åpnes*/
}

#Velkommen h1{
  font-size: 45px;
  margin-top: 1px;
  margin-bottom: 15px;
  /*Marginer er lagt inn for å ha mellomrom mellom elementene, for et mer
  elegant design*/
  font-weight: lighter;
  color: #0d0d0d;
  opacity: 0;
  /*Opacity satt til 0, slik at elementet fremviser etter animasjonen*/
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
  /*Animasjon er lagt inn skil at elementene på siden gradvis fremvises når den åpnes*/
}

#Velkommen button{
  width: 200px;
  padding: 20px;
  cursor: pointer;
  /*Pilen endres når man har den over knappen, slik at det er tydelig at denne
  kan klikkes på*/
  font-weight: bolder;
  font-size: 15px;
  background: #ff8080;
  border: none;
  border-radius: 10px;
  /*Dette gjør at knappen blir avrundet, og hjørnene ikke blir for skarpe*/
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  opacity: 0;
  /*Opacity satt til 0, slik at elementet fremviser etter animasjonen*/
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 1.1s;
  /*Animasjon er lagt inn skil at elementene på siden gradvis fremvises når den åpnes*/
}

  #Velkommen button:hover{
    background: #ffb3b3;
    /*Bakgrunnsfargen på knappen settes til litt lysere ved "hover", slik at det
    blir klart og tydelig når den er aktiv*/
  }

@-webkit-keyframes fade{
  from{opacity: 0;}
  to{opacity: 1;}
  /*Webkit som gjør det mulig at elementene "fades" inn*/
  }

a, a:visited{
  text-decoration: none;
  color: inherit;
  /*Det defineres at linken på knappen ikke skal bytte farge eller stil når den
  har blitt klikket på*/
}
