body
{
  background-image: url('kayak.jpeg');
  overflow: hidden;
  font-family: font-family: 'Exo', sans-serif;
}

#kvittering
{
  width: 70%;
  height: 500px;
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
}

h1
{
  font-size: 40px;
  color: #ff8080;
}

hr
{
  width: 500px;
}

p
{
  font-size: 20px;
}

a
{
  font-size: 30px;
  color: #ff8080;
}

#referanse
{
  font-size: 30px;
}
