body{
	background: white;
	font-family: 'Exo', sans-serif;
}

/*Stilsetting på navigasjonsmeny starter*/
nav{
	background: white;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 20;
	font-family: 'Exo', sans-serif;
	/*Navigasjonsmenyen fixes på toppen av siden, slik at den følger brukeren dit den er*/
}

nav ul li{
	display: inline;
}

nav ul li a{
	color: black;
	display: block;
	margin-right: 3%;
	margin-top: 1.2%;
	float: right;
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: overline;
	/*Når musen føres over linkene i navigasjonsmenyen, får den en linje over seg,
	slik at brukeren kan se hvilken side de har markert*/
}

nav img{
	float: left;
	height: 7%;
	width: 7%;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	/*Copacabina-logoen plasseres i sidens venstre hjørne, slik at det virker
	"naturlig" at denne benyttes som en "hjem"-knapp*/
}
/*Stilsetting på navigasjonsmeny slutter*/

/* Stilsetting på artikler starter */
article{
	padding: 10px;
	/*Paddingen defineres for alle artikler, slik at det er mer ryddig på siden*/
}

/*Stilsetting på artikkel 1 - Hyttene starter*/
#article1{
	margin-top: 100px;
	/*Artikkelen settes med 100px margin fra toppen, slik at den kommer under
	navigasjonsmenyen*/
	background-image: url("hytte.jpg");
	/*Ikke nødvendig med alt-info om bildet, da det kun fungerer som bakgrunn*/
	background-size: 100%;
	font-family: 'Exo', sans-serif;
	text-align: center;
	color: white;
}

#article1 h1{
	font-weight: bolder;
	font-size: 55px;
	margin-bottom: 5px;
}

#article1 h2{
	font-weight: lighter;
	font-size: 25px;
}

ul.Hyttene{
	list-style-type: none;
	padding: 2%;
	margin: 0 auto;
}

ul.Hyttene img{
	border-radius: 15px;
}

ul.Hyttene li{
	display: inline-block;
	margin: 0 1em 1em 0;
	position: relative;
	font-family: 'Pacifico', cursive;
	font-weight: lighter;
	font-size: 45px;
}

span.text-content1 span{
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

span.text-content1{
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

ul.Hyttene li:hover span.text-content1{
	cursor: pointer;
	/*Designet på musepilen endres for å markere at det er mulig å klikke på bildene*/
	opacity: 0.5;
}

span.text-content1{
	color: white;
  display: table;
  opacity: 1;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	border-radius: 15px;
}
/*Stilsetting på artikkel 1 - Hyttene slutter*/

/*Stilsetting på artikkel 2 - Om Copacabina starter*/
#article2{
	background-color: white;
}

#article2 h1{
	margin-top: 20px;
	font-size: 55px;
	color: black;
	font-family: 'Pacifico', cursive;
	font-weight: lighter;
	margin-bottom: 10px;
}

.Styret h2{
	font-size: 15px;
}

.Styret h3{
	font-size: 15px;
	font-weight: lighter;
	margin-top: 1px;
}

ul.Styret{
	list-style-type: none;
	padding: 2%;
	text-align: center;
	width: auto;
}

ul.Styret img{
	border-radius: 20px;
}

ul.Styret li{
	display: inline-block;
	height: 180px;
	margin: 0 1em 1em 0;
	position: relative;
	width: 180px;
}

span.text-content span{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.Styret li:hover span.text-content{
  opacity: 0.8;
}

span.text-content{
  background: #ff8080;
  color: white;
	font-size: 15px;
  display: table;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	border-radius: 20px;
}
/*Stilsetting på artikkel 2 - Om Copacabina slutter*/

/*Stilsetting på artikkel 3 - Kontakt starter*/
#article3{
	  background-image: url("tur.jpg");
		background-size: 100%;
		/*Ikke nødvendig med alt-beskrivelse av bildet, da det kun fungerer som bakgrunn*/
}

#article3 h1{
	margin-top: 20px;
	font-size: 55px;
	text-align: center;
	color: white;
	font-family: 'Exo', sans-serif;
	font-weight: bolder;
}

table{
    font-family: 'Exo', sans-serif;
    width: 100%;
    font-size: 15px;
    background: #f2f2f2;
    border: none;
    position: relative;
    margin: 0 auto;
		border-radius: 25px;
		text-align: center;
		padding: 15px;
}

th{
  font-weight: bolder;
	padding: 13px;
}
/*Stilsetting på artikkel 3 - Kontakt starter*/
/* Stilsetting på artikler slutter */
